*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #ebebeb;
    letter-spacing: 3px;

}
html{
    scroll-behavior: smooth;
    
}

/*to hide scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

/*my picture for mobile view*/
.mypic{
display: none;
}

/*to hide navigation mobile*/
.nav-mobile{
    display: none;
  }
.menu-btn-close{
    display: none;
}

/*Navigation*/
.portfolio{
    height: 100vh;
    width: 100%;
    letter-spacing: 2px;
    background-image: url(images/bgnew.png);
    background-size:cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 8% 20px;
    
    cursor: pointer;
    background-color:  #000814; 
}

.name{
    font-size: 18px;
    cursor: pointer;
    font-weight:600;
    width: 100%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
}

nav ul li a{
    text-decoration: none;
    font-weight:500;
    
}

nav ul li a:hover{
    color:  #ffc300;
    transition: .2s;
}

/*NAVIGATION MENU*/
.menu-btn{
    display: none;
}

/* my name, description, picture */
#home{
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateY(-40%);
}

#home h1 span{
    color: #ffc300;
}

#home h1{
    font-size: 25px;
    margin:10px 0px 10px;
}

#home h2{
    font-size: 20px;
}

#home p{
    font-size: 16px;
    margin-right: 55%;
    margin-top: 10px;
    font-weight: 100 ;
}




/*Skills*/
#skills-sec{
    width: 100%;
    padding: 70px 0px;
    background-color: #0a1128  ;
    text-align: center;

}

#skills-sec h2{
   
   margin-bottom: 20px;
   font-size: 25px;
   font-weight: 600;
  
}
#skills{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 25% 20px;  
}

#skills h1{
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 300;
    
}

/*skills background box*/
.html, .css, .figma{
   
    width: 190px;
    height: 170px ;
    background-color: #0d1631;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#skills img{
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 20px;
    height: 100px; 
}


/*certificate*/
#certificate-sec{
    
    width: 100%;
    padding: 70px 0px;
    background-color: #0d1631;

    
}
#certificate h1{
text-align: center;
margin-bottom: 40px;
font-size: 25px;
font-weight: 600;
}

#certificate{
    margin-left: auto ; 
    margin-right: auto;
}

.certificate-content{
    display: flex;
    text-align: left;
    margin-top: 20px;

    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 30px;
   
}
.certificate-content img{
    width: 500px;
    height: initial;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #0a1128;
}

.certificate-description h2{
   font-weight: 300;
   font-size: 20px;
   padding: 20px 0px 20px;
   
   
}

.certificate-description p{
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
 }

 .certificate-description{
    margin-left:  28px;

 }

 
/*contact*/
#contact-sec{
    width: 100%;
    padding: 40px 0px;
    background-color: #000814;
    
}
#contact{
    
    margin-left: 8%;
}

#contact h3{
    font-size: 20px;
    margin-bottom: 20px;
}

#contact h4{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}






/*FOR PHONE*/
@media (max-width: 480px) {
    
/*open navigation */


/*Navigation*/
.portfolio{
    height: 800px;
    width: 100%;
}

nav ul li{
    display: none;
}


.nav-mobile{
    display: block;
    width: 100%;
    text-align: center;
    
    margin-top: 10px;
    background-color: #000814;
    transform: translateY(-300px);
    

}

.nav-mobile ul li{
    list-style-type: none;
    display: block;
    padding: 5px 10px;
    font-size: 16px;
}

.nav-mobile ul li a{
    text-decoration: none;
    font-weight:500;
    
}

.nav-mobile ul li a:hover{
    color:  #ffc300;
    transition: .2s;
}




/*NAV OPENED*/
.nav-open .nav-mobile{
    transform: translateY(-13px);
}




    
/*NAVIGATION MENU - WALA TO*/
.nameAndBtn{
    width: 100%;
    display: flex;
}
.menu-btn-close{
    background-color: #0a1128;
    display: inline-flex;
    
    padding:  15px 15px;
    border-radius: 10px;
    border: 1px solid #000814;
    
    justify-content:space-between;

    float:  right;
    transform: translateY(0px);

    
}
.menu-btn-close i{
   
    font-size: 20px;
    transform: translateX(2px);
    transform: translateY(0px);
    margin-left: 8%;
}



.name{
    font-size: 18px;
    text-align: center;
    
    padding: 15px 5px;
}




/*MY picture solo*/
.mypic{
    display:block;
    width: 260px;
    border-radius: 100%;
    border: 10px solid #0a1128;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 15px;
   
}


/* my name, description, picture */
#home{
    display: block;
    width: 100%;
    padding: 30px 10px;
    
    position: none;
    top: 150px;
    left: 0%;
    transform: translateY(0%);
}
#home h1 span{
    color: #ffc300;
}

#home h1{
    font-size: 23px;
    margin: 10px 8% ;
}

#home h2{
    font-size: 20px;
    margin: 10px 8% ;
}

#home p{
    margin: 10px 8% ;
    font-size: 16px;
    font-weight: 100 ;
    text-align: justify;
}



/*Skills*/
#skills-sec{
    width: 100%;
    padding: 70px 0px;
    background-color: #0a1128  ;
    text-align: center;

}

#skills-sec h2{
   
   margin-bottom: 30px;
   font-size: 25px;
   font-weight: 600;
  
}
#skills{
    display: block;
    
    padding: 0px;  
    margin: 0 24%;
    text-align: center;
}

#skills h1{
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 300;
    
}

/*skills background box*/
.html, .css, .figma{
   
    width: 100%;
    height: 160px ;
    background-color: #0d1631;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 100px;

    padding-top: 5px;
   
}

#skills img{
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 20px;
    height: 80px; 
}










/*certificate*/

#certificate h1{
margin-bottom: 40px;
font-size: 25px;
}

#certificate{
    margin-left: auto ; 
    margin-right: auto;
}


.certificate-content{
    display: block;
    margin-left: auto ; 
    margin-right: auto;
    width: 280px;

}
.certificate-content img{
    width: 280px;
    
}

.certificate-description h2{
   font-size: 20px; 
}

.certificate-description p{
    font-size: 16px;
 }

 .certificate-description{
    margin-left:  10px;
    
 }



 
 
/*contact*/
#contact-sec{
    width: 100%;
    padding: 40px 0px;
    background-color: #000814;
    
}
#contact{
    margin-left: 8%;
    margin-right: 8%;
   text-align: left;
   
   width: 90%;
   
  
}

#contact h3{
    font-size: 20px;
    margin-bottom: 20px;
    
}

#contact p{
   
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
#contact p span{
   
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}



}